{% extends 'Basic/CommonBasic.html' %}
{% block css %}
{% endblock %}

{% block content %}
    <div>
        <h1>图书列表</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>作者</th>
                <th>入库时间</th>
                <th>价格</th>
                <th>借阅次数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.number }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.published_date|date:"Y-m-d" }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.account }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'borrow_book' book.id %}">借阅</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% for obj in queryset %}
            {{ obj.xx }}
        {% endfor %}

        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>
{% endblock %}