{% extends 'Basic/CommonBasic.html' %}
{% block Title %}
    <Title>图书列表</Title>
{% endblock %}

{% block css %}
    <style>
        .list-style{
            padding: 10px 20px 0 20px;
            width: 1200px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="list-style">
        <h1 style="text-align: center;margin-bottom: 30px">图书列表</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>作者</th>
                <th>入库时间</th>
                <th>价格</th>
                <th>借阅次数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.number }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.published_date|date:"Y-m-d" }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.account }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{% url 'borrow_book' book.id %}">借阅</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>

{% endblock %}